* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
@mixin flexrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexcol {
    @include flexrow;
    flex-direction: column;
}
body {
    background-color: aquamarine;
    @include flexcol;
}
